<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <font color = "white">
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
    </font>
    <form action="/projects/new" method="post">
		<input type="text" name="name" placeholder="Project name..."/>
		<textarea name="description" style="cols:20;rows:8">Enter your project description...</textarea>
		<input type="submit" text="Begin"/>
    </form>
  </body>
</html>
