.detail-panel {
	background: #fff;
	
	float: left;
	
	width: 26%;
	height: 100%;
	padding: 0px 2%;
}

#detail-hidden-info, .form-state, .add-argument, .method-id {
	display: none;
}

.edit-object {
	margin-top : 20px;
}

/*
 * Generic detail panel styles
 * 
 * */
.edit-object h3 {
	margin: 5px 0px;
}
 
.edit-object .description {
	font-size: 90%;
	color: #999;
	clear: both;
}

.edit-object .vital-info {
	height: 20px;
	width: 100%;
	background:#efefef;
	overflow: hidden;
}

.edit-object .vital-info > div {
	float: left;
	padding-right: 5px;
}

.edit-object .vital-info .name span {
	cursor: pointer;
}

.edit-object .vital-info .inputed {
	width: 25%;
}

.edit-object .vital-info input {
	width: 100%;
	height: 18px;
}

.edit-object .description input {
	width:100%;
	height: 20px;
	margin-top: 5px;
}

.edit-object .argument .description input {
	margin-top: -4px;
	height: 18px;
}

.edit-object .vital-info .scope {
	padding-top: 2px;
	font-size: 80%;
	color: #99f;
}

.edit-object .vital-info .type {
	padding-top: 2px;
	font-size: 90%;
	color: #393;
}

.edit-object .vital-info .name {
	font-weight: bold;
}

.edit-object .vital-info .delete {
	padding-top: 3px;
	font-size: 80%;
	color: #f99;
}

.detail-panel .prompt span {
	font-size: 80%;
	color: #999;
}

.detail-panel .preview > div {
	float: left;
	width: 33%;
}

.detail-panel .preview .name {
	font-weight: bold;
}

.detail-panel .preview .type {
	color: #393;
}

/*
 * Add object styling
 * /
 */
.add-controls {
	width: 100%;
	height: 30px;
}
 
.add-controls > div {
	float: left;
	width: 29%;
	padding: 5px 2%;
}

.add-object input {
	padding: 5px 2%;
	width: 96%;
	height: 25px;
	font-size: 120%;
}

.add-object textarea {
	width: 96%;
	min-height: 60px;
	margin-top: 5px;
	padding: 5px 2%;
}

/*
 * Info styling
 * 
 * */
.edit-object .info .name {
	font-size: 150%;
}


/*
 * Attribute styling
 * 
 * */

.edit-object .attributes {
	padding: 10px 0px 10px 20px;
}

.edit-object .attributes .attribute {
	width: 100%;
	padding-bottom: 5px;
}


/*
 * Method styling
 * 
 * */


.edit-object .methods {
	padding: 10px 0px 10px 20px;
}

.edit-object .methods .method {
	width: 100%;
	padding-bottom: 5px;
}

/* 
 * Argument styling
 * 
 */
.edit-object .method .arguments {
	padding: 5px 0px 5px 10px;
}

.edit-object .method .arguments .description {
	clear: none;
	padding-top: 3px;
}
