body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#detail-hidden-info {
	display: none;
}

.form-state {
	display: none;
}

.add-argument {
	display: none;
}
